body {
    font-family: Georgia;
    color: white;
}

header, footer {
    background-color: #824555;
    text-align: center;
    padding: 20px;
}

.left, .center {
    width: 30%;
    height: 350px;
}

.left {
    background-color: #A26475;
}

.center {
    background-color: #824555;
}

.right {
    background-color: #A26470;
    width: 40%;
    height: 350px;
    overflow: auto;
}

img {
    float: left;
    width: 50px;
}

table, p, dt {
    margin: 10px;
}

dt {
    padding-top: 20px;
}

td, th {
    border: 3px solid #824555;
    padding: 5px;
}

main {
    display: flex;
}